
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body{
    background-image: url("a75de0806e9bda12937304a08025bb91.gif");
                background-repeat: no-repeat;
                background-size: cover;
            
}